.body {
	background: $primary;
	font-family: $font-main;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;

    @media (min-width: $dekstop-min) {
        display: flex;
        flex-direction: row-reverse;
    }
}

