.btn-round {
	position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none; 
    outline: none;
    padding: 0;
    font-size: 0;
	cursor: pointer;

	&:hover {
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		opacity: 0.5;
	}
	&:before {
		content: '';
		background-color: rgb(23, 247, 255);
		border-radius: 50%;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: scale(0.001, 0.001);
	  }

	  &:focus {
		outline: 0;
		opacity: 1;
	  }

	  &:focus:before {
		animation: effect_dylan 0.8s ease-out;
	  }
	  
	  @keyframes effect_dylan {
		50% {
		  transform: scale(1.5, 1.5);
		  opacity: 0;
		}
		99% {
		  transform: scale(0.001, 0.001);
		  opacity: 0;
		}
		100% {
		  transform: scale(0.001, 0.001);
		  opacity: 1;
		}
	  }
	@media (min-width: $tablet) {
		&--chat, &--profile {
			margin-left: 16px;
		}
	
		&--menu {
			margin-left: 24px;
		}
	  }
	
	@media (min-width: $dekstop-min) {
		&:active {
			color: $buttons-color;
		}	
	
		& {
			opacity: 1;
		}
	
		&--menu {
			display: none;
		}
		
		&--repair, &--search {
			margin: 0;
		}
	}

	&--call {
		background-image: url(../img/call111.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	&--profile {
		background-image: url(../img/profile111.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	
	&--chat {
		background-image: url(../img/chat111.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	
	&--menu {
		background-image: url(../img/burgermenu111.svg);
		background-repeat: no-repeat;
		background-position: center;
		margin: 24px 16px;
	}
	
	&--repair {
		background-image: url(../img/repair111.svg);
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 16px;
	}
	
	&--search {
		background-image: url(../img/iconcheck111.svg);
		background-repeat: no-repeat;
		background-position: center;
	}

	&--back {
		background-image: url(../img/iconback.svg);
		background-repeat: no-repeat;
		background-position: center;
		@media (min-width: $dekstop-min) {
			display: none;
		}
	}

	&--status {
		background-image: url(../img/iconsearch.svg);
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 50px;
		@media (min-width: $dekstop-min) {
			margin-left: 100px;
		}
	}

	&--send { 
			font-family: 'TTLakes';
			font-size: 12px;
			align-self: flex-end;
			line-height: 24px;
			letter-spacing: -0.15px;
			text-transform: uppercase;
			background: $buttons-color url("./../img/go.svg");
			background-position-x: 85px;
			background-position-y: 4px;
			background-repeat: no-repeat;
			color: $secondary;
			width: 119px;
			height: 32px;
			border-radius: 16px;
			text-align: left;
			padding-left: 12px;
			margin-top: 23px;
			margin-bottom: 23px;
			margin-right: 16px;
		
			@media (min-width: 540px) {
				margin-right: 32px;
			}
		}
	
	&:active {
		opacity: 0.8;
	}
}


