.gallery2 {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-top: 24px;

    @media (max-width: 767px) {
        width: 4080px;
        transition-duration: 0ms;
        transform: translate3d(-720px, 0px, 0px);
    }

    @media (min-width: 768px) {
        padding-top: 16px;
        flex-wrap: wrap;
    }

    &__height {
        display: flex;
        height: auto;
    }
}