.gallery {
    display: flex;
    flex-wrap: nowrap;
    height: 110px;
    overflow: hidden;
    padding-top: 16px;
    @media (max-width: 767px) {
        width: 4080px;
        transition-duration: 0ms;
        transform: translate3d(-720px, 0px, 0px);
    }
}