.main {
    @media (min-width: $dekstop-min) {
        &__scroll {
            margin-top: 0;
            margin-left: 30px;
            font-size: 16px;
            overflow-x: auto;
        }
    }
    &__scroll {
        margin-left: 16px;
    }
}