.menu {
    display: flex;
    flex-direction: column;
    font-family: $font-main;
    justify-content: flex-start;
    flex-grow: 1;
    @media (min-width: $dekstop-min) {
        padding: 0; 
     }
    &__nav {
        padding: 0;
    }
}


