.nav {
    display: none;
    justify-content: flex-end;
    @media (min-width: $tablet) {
        & {
            display: flex;
            justify-content: space-between;
        }

        &--position {
            margin-right: 16px;
        }
    }

    @media (min-width: $dekstop-min) {
        &--position {
            display: none;
        }
    }
}