.sidebar {
    position: absolute;
    left: -450px;
    transition: .3s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: auto;
    top: 0;
    overflow-y: visible;
    margin: -5px;
    z-index: 9;
            @media (min-width: $dekstop-min) {
                & {
                    position: sticky;
                    display: block;
                    left: 0;
                    top: 0;
                }
            }
        
    &__body {
        position: relative;
        background: $secondary;
        font-family: $font-main;
        height: 100vh;
        @media (max-width: 1365px) {
            width: 320px;
         }

    }

    &__header {
        display: flex;
        padding: 18px 16px;
        width: auto;
        height: 86px;
        align-items: center;
    }
    
    &__header-logo {
        margin-left: 16px;
        @media (min-width: $dekstop-min) {
            margin-left: 0; 
         }
    }

    &__btn {
        position: relative;
        margin-right: 16px;
        @media (min-width: $dekstop-min) {
            margin-right: 0; 
         }
    }
}
