.swiper-container {
    background: $primary;
    min-width: 320px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin: 0 auto;

    @media (min-width: 768px) {
        padding-left: 24px;
    }
}
    .swiper-slide:hover {
    color: $text-color-primary;
    }

    
  
.swiper-wrapper {
    padding-top: 16px;
    height: 110px;
    flex-wrap: nowrap;

    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        height: 160px;
        overflow: hidden;
        padding-top: 24px;
        max-width: 1050px;
    }

    @media (min-width: $dekstop-min) {
        max-width: 1120px;
    }
    &--height {
        height: auto;
    }
}

.swiper-wrapper2--height {
        height: auto;
}

.swiper-btn, .swiper-btn2 {
    @media (max-width: 767px) {
        display: none;
    }
}
