// Colors:
$primary: #F8F8F8;
$secondary: #FFFFFF;

$text-color-primary: #1B1C21;
$text-color-secondary: #7E7E82;
$text-color-form-items: #B5B6BC;

$horizontal-borderline-color: #D9FFF5;
$small-border-color: #EAEAEA;
$menu-item-border-color: #BDFFEC;
$price-item-border-shadow-color: rgba(221, 221, 221, 0.7);

$buttons-color: #FF3E79;
$scroll-active: #B8FFEC;
$swiper-item-shadow-color: rgba(221, 221, 221, 0.6);
$swiper-active: #8a958d;
$swiper-bullet: #DDDDDD;

$font-main: 'TT Lakes';

$dekstop-min: 1366px;
$dekstop-max: 1440px;
$tablet: 768px;
$mobile: 320px;
$mobile-max: 767px;